In [12]:
import pandas as pd
JA = pd.read_csv("Jamaican Creole.csv")
HA = pd.read_csv("hatian_creole_dictionary_v4.csv")
MC = pd.read_csv("martinique.csv")
LC = pd.read_csv("stLucia.csv")
SC = pd.read_csv("suriname.csv")
Lou = pd.read_csv("louisiana_creole_dictionary.csv")

In [13]:
JA = JA[['Words','Definition','Country']]
JA.rename(columns={"Words": "creole_word", "Definition": "word", "Country":"creole name"}, inplace=True)
JA

                creole_word                             word      creole name
0                         a                        is, are    Jamaican Creole
1                      a bi                          being    Jamaican Creole
2                    a call                        calling    Jamaican Creole
3                     a cum                         coming    Jamaican Creole
4     a dat fi appen to yuh            You had that coming    Jamaican Creole
...                     ...                              ...              ...
1100         Weh yuh ah seh             How are you doing?    Jamaican Creole
1101       Weh yuh cum fram            Where are you from?    Jamaican Creole
1102            Weh yuh deh  Where are you?, where are you    Jamaican Creole
1103        Weh yuh deh pon            What are you up to?    Jamaican Creole
1104            Weh yuh seh                What did you say?  Jamaican Creole

[1105 rows x 3 columns]

In [14]:
HA

         word                                        creole_word creole name
0       a, an                                               youn     Haitian
1       aback                      pa sipriz (taken by surprise)     Haitian
2     abandon                                     abandone, kite     Haitian
3       abase  abese (to lower in rank-office-prestige), ~dim...     Haitian
4       abash     demoralize (to destroy the self-confidence of)     Haitian
...       ...                                                ...         ...
5820     tool                                              zouti     Haitian
5821   oyster                                        zuit (zwit)     Haitian
5822    goose                                                zwa     Haitian
5823     bird                                              zwazo     Haitian
5824      eye                                                zye     Haitian

[5825 rows x 3 columns]

In [15]:
SC.rename(columns={"Word": "word", "Creole_word": "creole_word", "Creole_name":"creole name"}, inplace=True)
SC

            word creole_word creole name
0             at         a    Saramaccan
1             he         a    Saramaccan
2             in         a    Saramaccan
3            she         a    Saramaccan
4             to         a    Saramaccan
...          ...         ...         ...
1896    to press         zín  Saramaccan
1897  to squeeze         zín  Saramaccan
1898       coals       zonká  Saramaccan
1899    close by       zúntu  Saramaccan
1900    close to       zúntu  Saramaccan

[1901 rows x 3 columns]

In [16]:
MC.rename(columns={"Word": "word", "Creole_word": "creole_word", "Creole_name":"creole name"}, inplace=True)
MC

             word       creole_word creole name
0       accelérer   akséléré, pilé   Martinique
1    accélérateur       aksélératè   Martinique
2         acheter    genyen, achté   Martinique
3          acteur             aktè   Martinique
4          action           aksyon   Martinique
..            ...               ...         ...
635     raccourci   chimen-dékoupé   Martinique
636         saler             salé   Martinique
637         tacot          bradjak   Martinique
638           un              yonn   Martinique
639        varech            wawèt   Martinique

[640 rows x 3 columns]

In [17]:
LC.rename(columns={"Word": "word", "Creole_word": "creole_word", "Creole_name":"creole name"}, inplace=True)
LC

,creole_word,word,creole name
0,zélé,zealous,St. Lucia
1,"jenn,piti,gwan,vyé,vyé","young,opp",St. Lucia
2,poulèt,young hen,St. Lucia
3,"tifi,fi,kabwès,kabwès","young girl, young lady,daughter",St. Lucia
4,"kabwès,tifi,tifi",young girl,St. Lucia
...,...,...,...
3306,"lé,lé Dimanch, Lendi...,lé maléwé,lé pasan,lé ...",a class of something,St. Lucia
3307,chanjmandè,"a change of air, atmosphere, setting, location",St. Lucia
3308,po,"2 quarts, four pints, half a gallon",St. Lucia
3309,balizyé,(Heliconia caribaea) a plant of the family of ...,St. Lucia
3310,fouti,(emphasizes a negative),St. Lucia

In [18]:
Lou

           creole_word                         word       creole name
0     fé (sô)  lapriyè    say (one's) prayers, pray  Louisiana Creole
1             pa-d-kwa            phryou're welcome  Louisiana Creole
2           fé sô nidé           make up one's mind  Louisiana Creole
3                 alon                        let's  Louisiana Creole
4       fé (sô)  dévwa            do one's homework  Louisiana Creole
...                ...                          ...               ...
1497             kapab                     able,can  Louisiana Creole
1498                pe                  able to,can  Louisiana Creole
1499                pe                  able to,can  Louisiana Creole
1500             in pe                     a little  Louisiana Creole
1501               chi  -chinsfxemphatic possessive  Louisiana Creole

[1502 rows x 3 columns]

In [20]:
to_merge = [JA,HA,Lou,LC,MC,SC]

merged = pd.concat(to_merge)
merged.to_csv("Creole_merged_CSV.csv",index=False)
merged.to_json("Creole_merged_JSON.json",orient='records')